.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
  }

  .box-container {
    display: flex;
  }

  .box {
    width: 250px;
    height: 100px;
    margin: 60px;
    text-align: center;
    background-color: #ffcc00;
    transition: transform 0.3s ease-in-out;
  }

  .box:hover {
    transform: scale(1.1);
  }

  @media (max-width: 767px) {
    .box {
      width: 80px;
      height: 80px;
    }
  }

  @media (max-width: 480px) {
    .box {
      width: 60px;
      height: 60px;
    }
  }